@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../font-facee/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../font-facee/roboto-v20-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../font-facee/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../font-facee/roboto-v20-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../font-facee/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../font-facee/roboto-v20-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url("../font-facee/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../font-facee/roboto-v20-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../font-facee/raleway-v17-latin_cyrillic-700.woff2") format("woff2"), url("../font-facee/raleway-v17-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h2,
.our-team, .name-team, .workers p, h2 .our-clients, .images h2, .button, .main, .coments {
  font-family: Roboto;
  font-style: normal;
}

.items, .flex-header, .site-nav .list, .social-links, .workers, .people ul, .footer-icon, .social, .box, .regular-clients, .images, .images ul, .button-menu, .disc, .footer-content, .footer-mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.items {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.continer {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-header,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.logotyp {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: #212121;
}

.header-top {
  border-bottom: 1px solid rgba(47, 48, 58, 0.4);
}

.header-top a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover {
  color: #2196f3;
}

.telefon {
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
}

.telefon:hover {
  fill: currentColor;
  color: #2196f3;
}

.email {
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover {
  fill: currentColor;
  color: #2196f3;
}

.flex-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.flex-header li {
  list-style-type: none;
}

.site-nav .list {
  padding-top: 31px;
  padding-bottom: 31px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.line::after {
  display: block;
  content: '';
  position: absolute;
  top: 77px;
  bottom: 2px;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.line-portfolio:after {
  display: block;
  content: '';
  position: absolute;
  top: 77px;
  bottom: 2px;
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-item {
  padding-right: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item:last-child {
  margin-right: 0;
}

.header-item-second {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}

.header-item-second:last-child {
  margin-right: 0;
}

.header-item-second a,
use {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  margin-left: auto;
  padding-left: 0px;
}

.logotyp {
  margin-right: 85px;
}

.logotyp .logo-header {
  padding: 25px 0;
}

h2,
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  display: block;
}

.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.social-links {
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  fill: currentColor;
}

.social-links:hover {
  border-radius: 50%;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-margin {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.team.our-people {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team.our-people {
  background-color: #f5f4fa;
}

.workers {
  background: #f5f4fa;
}

.perfect.our-team {
  margin-bottom: 50px;
}

.perfect.our-team {
  margin-top: 0;
}

.workers p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.continer .people {
  background-color: #ffffff;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
}

.people ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people {
  background-color: red;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.people li {
  margin-right: 10px;
}

.team-hover:hover {
  background: #f5f4fa;
}

.icon-envelope {
  vertical-align: middle;
  height: 20px;
  width: 16px;
  margin-right: 10px;
}

.icon-phone {
  vertical-align: middle;
  height: 20px;
  width: 16px;
  margin-right: 10px;
}

.footer-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.social {
  height: 20px;
  width: 20px;
}

.icon-box {
  fill: #afb1b8;
  display: block;
  color: #afb1b8;
}

.icon-box:hover {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.firm1 {
  height: 48px;
  width: 43px;
}

.firm2 {
  height: 61px;
  width: 48px;
}

.firm3 {
  height: 43px;
  width: 41px;
}

.firm4 {
  height: 79px;
  width: 71px;
}

.firm5 {
  display: block;
  height: 52px;
  width: 64px;
}

.firm6 {
  display: block;
  height: 90px;
  width: 170px;
}

.box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  height: 90px;
  width: 170px;
}

.box:last-child {
  margin-right: 0;
}

.box:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover:hover {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover .icon-box {
  fill: #2196f3;
}

.regular {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients.centr {
  margin-top: 0;
}

.regular-clients {
  margin-top: 0;
}

.svg {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.svg:last-child {
  margin-right: 0;
}

.footer {
  background: #2f303a;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 .our-clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.images {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding-left: 0;
  list-style-type: none;
}

.images ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  position: relative;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.images h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-left: 24px;
  margin-bottom: 4px;
  text-align: left;
}

.item-paragraph {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.technical {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.img {
  display: block;
}

.texnocriak {
  position: absolute;
  display: block;
  top: 0;
  margin: 0;
  height: 294px;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-links:hover .texnocriak {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item-title {
  margin-top: 20px;
}

/* ПОРТФОЛИО  */
.flex-continier {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
}

.button-item {
  margin-right: 8px;
}

.button-item:last-child {
  margin-right: 0px;
}

.main {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

.button:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover:focus {
  color: #f5f4fa;
}

.messenger {
  color: #ffffff;
}

.logo-footer,
.logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-block;
  padding-top: 60px;
}

.logo-second {
  font-size: 26px;
  color: #ffffff;
}

.footer-nav {
  font-style: normal;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-nav:last-child {
  margin-bottom: 0;
}

.footer-messenger {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 61px;
  height: 118px;
}

.position {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

.footer-text {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.email-footer {
  padding: 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

.button-footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.send-icon {
  position: absolute;
  top: 120px;
  right: 37px;
}

.disc {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 0;
}

.footer-content {
  position: relative;
  height: 252px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-adress {
  margin-right: 67px;
}

.top {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
  color: #ffffff;
}

.button-footer {
  position: absolute;
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 29px;
  top: 108px;
  right: -2px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.text-modal {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 40px 40px 12px 40px;
}

.text-span {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form {
  position: relative;
  padding: 0 20px;
  margin: 0 20px;
}

.contact-us {
  padding-left: 42px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us:focus,
.contact-us:hover,
.textarea:focus,
.textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}

.icons-modal-man:focus,
.icons-modal-man:hover,
.icons-modal-call:focus,
.icons-modal-call:hover,
.icons-modal-sms:focus,
.icons-modal-sms:hover {
  fill: #2196f3;
  cursor: pointer;
}

.icons-modal-man {
  position: absolute;
  top: 28px;
  left: 39px;
  margin-right: 10px;
}

.icons-modal-call {
  position: absolute;
  top: 94px;
  left: 39px;
}

.icons-modal-sms {
  position: absolute;
  top: 163px;
  left: 39px;
}

.comment {
  width: 528px;
  height: 581px;
}

.textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  margin-right: 39px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coments {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-top: 0;
  margin-left: 42px;
}

.contact-text {
  font-weight: 400;
  color: #2196f3;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  left: 32px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check_box {
  background-image: url(../images/icon-check.svg);
  background-color: #2196f3;
  background-size: contain;
  border-radius: 2px;
}

.check_box {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 32px;
  bottom: 84px;
  background-image: url(../images/kwadrat.svg);
  margin-right: -7px;
}

.modal-button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 124px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=portfolio.css.map */