body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: $primary-color;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.items {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.continer {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
    // background-color: red;
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    width: 738px;
    // background-color: teal;
  }

  @media screen and (min-width: 1170px) {
    width: 1170px;
    // background-color: tomato;
  }
}
// * {
//   outline: 1px solid grey;
// }
