.footer-adress {
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    margin-left: 76px;
    margin-top: 60px;
    margin-right: 165px;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1999px) {
//   display: flex;
//   flex-wrap: wrap;
//   text-align: center;

//   height: 603px;
// }

.logo-footer,
.logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-block;
  padding-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    font-size: 24px;
  }
}

.logo-second {
  font-size: 26px;
  color: #ffffff;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    font-size: 24px;
  }
}

.footer-nav {
  font-style: normal;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    margin-bottom: 8px;
  }

  &:last-child {
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1999px) {
      margin-bottom: 60px;
    }
  }
}

.footer-messenger {
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    margin-top: 65px;
    margin-right: 65px;
  }
}
.position {
  display: block;

  align-items: center;
  margin-right: 0;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
  }
}

.footer-text {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}

.email-footer {
  padding: 16px;
  width: 100%;
  margin-bottom: 20px;

  height: 50px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    width: 450px;
  }

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: $white-collor;
}

.button-footer {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.send-icon {
  margin-left: 10px;
}
.disc {
  justify-content: start;
  padding-left: 0;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  // @media screen and (min-width: 768px) and (max-width: 1999px) {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 60px;
  // }
  @media screen and (max-width: 1999px) {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.footer-content {
  position: relative;

  height: 252px;
  align-items: baseline;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    height: 603px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;

    height: 603px;
  }
}

.footer-mess {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    display: flex;
  }
}
.top {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
  color: $white-collor;

  @media screen and (min-width: 767px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    text-align: center;

    font-size: 24px;
  }
}

.small {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  width: 200px;
  height: 50px;
  color: $white-collor;
  background-color: $acent-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  outline: none;

  @media screen and (min-width: 768px) and (max-width: 1999px) {
    margin-bottom: 60px;
  }
}

.footer-end {
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    margin-left: 166px;
    margin-top: 60px;
  }
}
