.header-top {
  border-bottom: 1px solid rgba(47, 48, 58, 0.4);
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      // display: flex;
    }
  }

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.menu-container {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &.is-open .icon-menu {
    display: none;
  }

  &.is-open .icon-cross {
    outline: none;
    display: block;
  }

  & .icon-cross {
    display: none;
  }

  &:hover .icon-menu,
  &:focus .icon-menu,
  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: #2196f3;
  }
}

.flex-header {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .window {
      @media screen and (max-width: 767px) {
        height: 453px;
        width: 100%;
      }

      transform: translateY(-100%) scaleX(0);

      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;

      text-align: center;
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &.is-open {
        transform: rotate(0deg);
      }
    }
  }
}

.window {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  & .logo-header {
    padding: 0;
  }
}

.menu-container {
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-right: 50px;

    & :first-child {
      margin: 0;
    }
  }

  @media screen and (max-width: 767px) {
    & :first-child {
      padding-top: 50px;
    }
  }

  &:hover {
    color: #2196f3;
  }
}
.first {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}
.telefon {
  color: $gray-collor;
  padding-top: 32px;
  padding-bottom: 32px;

  &:hover {
    fill: currentColor;
    color: #2196f3;
  }

  @media screen and (max-width: 767px) {
    display: block;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    display: block;
  }
}

.email {
  color: $gray-collor;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: currentColor;
    color: #2196f3;
  }

  @media screen and (max-width: 767px) {
    display: block;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    display: block;
    margin-bottom: 10px;
  }
}

.flex-header {
  align-items: center;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  li {
    list-style-type: none;
  }
}

.site-nav {
  .list {
    padding-top: 31px;
    padding-bottom: 31px;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;

    color: $primary-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  // @media screen and (max-width: 767px) {
  //   background-color: red;
  //   position: absolute;
  // }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 111px;
  }
}
// @extend %df???

.line::after {
  display: block;
  content: '';
  position: absolute;
  top: 77px;

  bottom: 2px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 47px;
    top: 78px;
  }

  @media screen and (min-width: 1200px) {
    width: 48px;
  }
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.line-portfolio:after {
  display: block;
  content: '';
  position: absolute;
  top: 77px;
  bottom: 2px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 75px;
    top: 78px;
  }

  @media screen and (min-width: 1200px) {
    width: 78px;
  }

  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    // padding-right: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:last-child {
      padding-right: 0;
    }
    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }
}

.header-item-second {
  justify-content: flex-end;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}
.header-item-second a,
use {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  margin-left: auto;
  padding-left: 0px;

  @media screen and (min-width: 1200px) {
    margin: 0;
    padding: 0;
    align-items: baseline;
    margin-left: 120px;
    padding-top: 32px;
    scroll-padding-bottom: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    text-align: start;
    padding-top: 20px;
  }
}
.logotyp {
  margin-right: 66px;

  .logo-header {
    padding: 25px 0;
  }
}
