.section.java {
  padding-bottom: 94px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
.desc {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;
  align-items: center;

  justify-content: center;
  bottom: 3px;

  height: 70px;
  background: rgba(47, 48, 58, 0.8);

  @media screen and (min-width: 1170px) {
    display: flex;
    width: 370px;
  }
}

.subject {
  @extend %font;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $primary-color;
  text-align: center;
  margin-top: 0;
}

.help {
  padding-bottom: 94px;
}

.applications {
  position: relative;
  margin: 0;
  width: calc((100% - 60px) / 2);

  @media screen and (min-width: 1170px) {
    display: flex;
  }

  & .content-java {
    margin-right: 30px;
  }
}
