.logo-header,
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}
.logotyp {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: $primary-color;
}
